@using CNET_ERP_V7.Models.SubSytsemModel;
@using Newtonsoft.Json;
@model systemSettingModel

@inject CNET_ERP_V7.Common.Company.SharedHelpers sharedHelpers
@{

    List<string> sysConstant = new List<string>();
    sysConstant.Add("Gsl Type List");
    sysConstant.Add("Voucher Definition");
    sysConstant.Add("List Of Device");
    sysConstant.Add("Object State Definition");
    ViewData["Title"] = "System Constant";
}
<style>
    .activeMainidSetting {
        background-color: dodgerblue;
        width: auto;
    }

    .mainsysType {
        height: 80vh;
        white-space: nowrap;
        cursor: pointer;
    }
    .displaynew{
        display:none;
    }
</style>
<section class="content-header">
    <h5>
        @ViewData["Title"]
    </h5>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
        <li><a href="#"><i class="fa fa-cart-plus"></i></a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="col-md-8">
                        <div style="float:left ;padding-top:1px">
                            <a href="#" class="btn btn-app" id=""> <i class="fa fa-print" aria-hidden="true"></i>Print</a>
                            <a href="#" class="btn btn-app displaynew" id="btnNewobjectstate"> <i class="fa fa-plus-circle"></i>New</a>
                        </div>
                        <div class="col-md-5">
                            <form asp-controller="" asp-action="" method="post" id="">
                                <div class="form-inline">
                                    <br />

                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <div class="row">
                    <div class="col-md-12">
                        <input asp-for="category" hidden />
                        <input asp-for="chlidcategory" hidden />
                        <div class="box box-primary">

                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-2 mainsysType" style="margin-left:0px;">
                                        <div style="border:1px solid #e5e5e5;" class="mainsysType">
                                            <table class="table table-border" id="consineeUnit_Table" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2" style="border:1px solid #e5e5e5; background-color:lightgray">Description</th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var item in sysConstant)
                                                    {
                                                        <tr onclick="GetSystemConstantType('@item')">
                                                            <td width="20px" style="border:none !important"></td>
                                                            <td style="height:17px !important" class="activeMainsysConstant">
                                                                @item
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>

                                            </table>

                                        </div>
                                    </div>
                                    <div class="col-md-3 mainsysType" style="margin-left:0px;">
                                        <div style="border:1px solid #e5e5e5;" class="mainsysType">
                                            <div id="systemConstantData">
                                                @await Html.PartialAsync("_systemConstant.cshtml")
                                              
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                    <div id="SystemConsatantDetailContent">
                                         @await Html.PartialAsync("_systemConstantDetail.cshtml")
                                    </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>


                <!-- /.tab-pane -->
            </div>

        </div>
    </div>

    <!--Issued Card Modal-->

</section>
@await Html.PartialAsync("_SystemConstantModel.cshtml")
<script>
    $(document).on("click", ".activeMainsysConstant", function () {

        $(".activeMainidSetting").removeClass("activeMainidSetting");
        $(this).addClass('activeMainidSetting');
    });
</script>

<script>
    $(document).on("click", "#btnNewobjectstate", function () {
        $('#objectStatedefinition_Modal').modal();
    });
    function GetSystemConstantType(name) {
        if (name == "Object State Definition") {
            $('#btnNewobjectstate').removeClass('displaynew');
        }
        else{
            $('#btnNewobjectstate').addClass('displaynew');
        }
        $('#@nameof(Model.category)').val(name);
        $.ajax({
            url: '/SystemConstant/GetSystemConstantList',
            type: 'POST',
            data: { name: name },
            success: function (result) {
                $('#systemConstantData').html(result);
            },
            error: function () {

            }
        });
    }
</script>

<script>
    function GslTypeListdetailNewFormFunction() {
        var category = $('#@nameof(Model.gsl_category)').val();
        var $form = $('#GslTypeListdetailNewFormData');
        var data = $form.serialize();
        var action = $('#GslTypeListdetailNewFormData').attr("action");
        $.ajax({
            type: "POST",
            url: action,
            data: data,
            success: function (data) {
               swal("",data ,"success");
                var cate = $('#@nameof(Model.category)').val();
                var code = $('#@nameof(Model.chlidcategory)').val();
                $(function () {
                    $.ajax({
                        url: '/SystemConstant/GetDetailData',
                        type: 'POST',
                        data: { code: code, cate: cate }, // send the data object with the request
                        success: function (result) {
                            $('#SystemConsatantDetailContent').html(result);
                        },
                        error: function () {
                            console.log('Error occurred.');
                        }
                    });
                });

                CleargsldescModal();

            },
        });
        return false;
    };

    function CleargsldescModal() {

        $('#@nameof(Model.gsl_description)').val("");

    }

    function voucherDefndetailNewFormFunction() {
        var vouchdecode = $('#@nameof(Model.vochrdefncode)').val();
        var $form = $('#voucherDefndetailNewFormData');
        var data = $form.serialize();
        var action = $('#voucherDefndetailNewFormData').attr("action");
        $.ajax({
            type: "POST",
            url: action,
            data: data,
            success: function (data) {
                swal("", data, "success");
                var cate = $('#@nameof(Model.category)').val();
                var code = $('#@nameof(Model.chlidcategory)').val();
                $(function () {
                    $.ajax({
                        url: '/SystemConstant/GetDetailData',
                        type: 'POST',
                        data: { code: code, cate: cate }, // send the data object with the request
                        success: function (result) {
                            $('#SystemConsatantDetailContent').html(result);
                        },
                        error: function () {
                            console.log('Error occurred.');
                        }
                    });
                });
                ClearvoucherModal();

            },
        });
        return false;
    };

    function ClearvoucherModal() {
        $('#@nameof(Model.vochr_name)').val("");
        $('#@nameof(Model.vochr_abbriviation)').val("");
        $('#@nameof(Model.vochr_isodocunum)').val("");
        $('#@nameof(Model.vochr_remark)').val("");

    }

    function DeviceListdetailNewFormFunction() {
        var prefrecode = $('#@nameof(Model.prefcode)').val();
        var $form = $('#DeviceListdetailNewFormData');
        var data = $form.serialize();
        var action = $('#DeviceListdetailNewFormData').attr("action");
        $.ajax({
            type: "POST",
            url: action,
            data: data,
            success: function (data) {
                swal("", data.result, "success");
                var cate = $('#@nameof(Model.category)').val();
                var code = $('#@nameof(Model.chlidcategory)').val();
                $(function () {
                    $.ajax({
                        url: '/SystemConstant/GetDetailData',
                        type: 'POST',
                        data: { code: code, cate: cate }, // send the data object with the request
                        success: function (result) {
                            $('#SystemConsatantDetailContent').html(result);
                        },
                        error: function () {
                            console.log('Error occurred.');
                        }
                    });
                });
            },
        });
        return false;
    };
    function objectstatedetailNewFormFunction() {
        var type = $('#@nameof(Model.object_type)').val();
        var $form = $('#objectstatedetailNewFormData');
        var data = $form.serialize();
        var action = $('#objectstatedetailNewFormData').attr("action");
        $.ajax({
            type: "POST",
            url: action,
            data: data,
            success: function (data) {
                swal("", data, "success");
                var cate = $('#@nameof(Model.category)').val();
                var code = $('#@nameof(Model.chlidcategory)').val();
                $(function () {
                    $.ajax({
                        url: '/SystemConstant/GetDetailData',
                        type: 'POST',
                        data: { code: code, cate: cate }, // send the data object with the request
                        success: function (result) {
                            $('#SystemConsatantDetailContent').html(result);
                        },
                        error: function () {
                            console.log('Error occurred.');
                        }
                    });
                });
            },
        });
        return false;
    };

</script>


