@model SecurityModel
@using CNET_ERP_V7.Models.Security;
@using CNET_V7_Domain.Domain.SecuritySchema;
@using CNET_V7_Domain.Domain.SettingSchema;
@using Newtonsoft.Json;
@inject CNET_ERP_V7.Common.Company.SharedHelpers sharedHelpers
@inject CNET_ERP_V7.Common.AuthNavigation.AuthenticationManager _authenticationManager
@{
    var currentUser = await _authenticationManager.GetAuthenticatedUser();
    var UsernameList = await sharedHelpers.GetUser();
    var currentUsername = UsernameList?.Where(p => p.Person == currentUser.Person).ToList();

    var UserListType = UsernameList?.Select(t => new CNET_ERP_V7.Models.SelectorModel.Select2Result { id = t.Id, text = t.UserName }).ToArray();
}
<div class="box box-primary">
    <div id="UserPasswordData">
        @await Html.PartialAsync("_ChangeUserPassword.cshtml")
    </div>
</div>
<div class="modal fade" id="modal_changpassword" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style=" color:dodgerblue; font-weight:bold">
                    <img src="~/images/Cnets.jpg" />
                    Change Password
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">

                    <form class="form-horizontal" id="ChangepasswoddetailNewFormData" onsubmit="return ChangepasswoddetailNewFormFunction()" asp-controller="Security" asp-action="changepassworddetail" method="post">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-app" id="btnnewchangepassordList"> <i style="color:darkblue" class="fa fa-sticky-note-o"></i>New</button>
                            <button type="submit" class="btn btn-app" action="addRow" id="btnchangepassorddetailSave"> <i style="color:darkblue" class="fa fa-save"></i>Save</button>
                            <button class="btn btn-app" data-dismiss="modal"><i style="color:darkred" class="fa fa-remove"></i>Close</button>
                        </div>


                        <div class="col-md-12" style="margin-top:25px">
                            <div class="row">
                                <div class="form-group  form-group-sm">
                                    <label asp-for="cha_username" class="col-md-3 control-label">User Name</label>
                                    <div class="col-md-7">
                                        <select asp-for="cha_username" class="form-control select2" style="width:100%">
                                            <option value="@currentUser.Id">@currentUser?.UserName</option>
                                        </select>
                                        <span asp-validation-for="cha_username"></span>


                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group  form-group-sm">
                                    <label asp-for="cha_oldpasword" class="col-md-3 control-label">Old Password</label>
                                    <div class="col-md-7">
                                        <input asp-for="cha_oldpasword" class="form-control" type="password" autocomplete="off" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group  form-group-sm">
                                    <label asp-for="cha_newpassword" class="col-md-3 control-label">New Password</label>
                                    <div class="col-md-7">
                                        <input asp-for="cha_newpassword" type="password" id="restpassword" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group  form-group-sm">
                                    <label asp-for="cha_confirmpassord" class="col-md-3 control-label">Confirm Password</label>
                                    <div class="col-md-7">
                                        <input asp-for="cha_confirmpassord" class="form-control" type="password" autocomplete="off" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-3 control-label">Is Active</label>
                                    <div class="col-md-1">
                                        <input asp-for="cha_Isactive" />
                                        <span asp-validation-for="cha_Isactive"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group  form-group-sm">
                                    <label asp-for="cha_remark" class="col-md-3 control-label"> Remark</label>
                                    <div class="col-md-7">
                                        <textarea asp-for="cha_remark" style="width:100%; overflow:auto"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="chpwd-container">

                                <div class="col-sm-6 col-sm-offset-2" style="padding-top: 30px;">
                                    <div class="pwstrength_viewport_progress" id="pwstrength_viewport_progress"></div>
                                </div>
                            </div>

                        </div>

                        <input type="hidden" asp-for="cha_passwordtype" />

                    </form>
                </div>
            </div>
        </div>
        @*/.modal-content -*@
    </div>
</div>
<script>
    $('#@nameof(Model.cha_username)').select2({
        data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(UserListType)),
        placeholder: ""

    });
    function ChangepasswoddetailNewFormFunction() {

        var userval = $('#chpwd-container').text();

        $('#@nameof(Model.cha_passwordtype)').val(userval);
          var $form = $('#ChangepasswoddetailNewFormData');
        var data = $form.serialize();
        var action = $('#ChangepasswoddetailNewFormData').attr("action");

        $.ajax({
            type: "POST",
            url: action,
            data: data,
            success: function (data) {
              swal("",data.result,"success");

              ClearChangPasswordModal();
            },
        });
        return false;
    };
    function ClearChangPasswordModal()
    {
        $('#@nameof(Model.cha_username)').val("").trigger("change");
        $('#@nameof(Model.cha_oldpasword)').val("");
        $('#@nameof(Model.cha_newpassword)').val("");
        $('#@nameof(Model.cha_confirmpassord)').val("");
        $('#@nameof(Model.cha_remark)').val("");
    }


</script>


