@model SecurityModel
@using CNET_ERP_V7.Models.Security;
@using CNET_V7_Domain.Domain.SecuritySchema;
@using CNET_V7_Domain.Domain.SettingSchema;
@using Newtonsoft.Json;
@inject CNET_ERP_V7.Common.Company.SharedHelpers sharedHelpers
@inject CNET_ERP_V7.Common.AuthNavigation.AuthenticationManager _authenticationManager
@{

}

<div class="createacount">
    <table id="changepass_detail_List" class="table table-striped tree-load" style="background-color:#ffffff">
        <thead>
            <tr>
                <th>Date</th>
                <th>Device</th>
                <th>User Name</th>
                <th>Organization</th>
            </tr>
        </thead>
        <tbody>
            @if (Model?._changePassword != null &&  Model?._changePassword.Count() > 0)
            {
                foreach (var item in Model._changePassword)
                {
                    <tr>
                        <td>@item.date</td>
                        <td>@item.devicename</td>
                        <td>@item.username</td>
                        <td>@item.orgdef</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>