@using CNET_ERP_V7.Models.SubSytsemModel;
@using CNET_V7_Domain.Domain.SettingSchema;
@using CNET_V7_Entities.DataModels;
@using Newtonsoft.Json;
@model VoucherSearchModel

@inject CNET_ERP_V7.Common.Company.SharedHelpers sharedHelpers
@{
    var copyDis = Model?.distribution;

}

<style>
    .vIdDefiniation {
        height: 77vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .vIdDefiniation {
        white-space: nowrap
    }

    .vIdDefiniation {
        overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
        height: 77vh /* gives an initial height of 200px to the table */
    }

        .vIdDefiniation th {
            position: sticky; /* make the table heads sticky */
            top: 0px; /* table head will be placed from the top of the table and sticks to it */
        }

    /*table {
                    border-collapse: collapse;*/ /* make the table borders collapse to each other */
    /*width: 100%;
                }*/

    th,
    td {
        padding: 0 0 !important;
        border: 1px solid #ccc;
    }

    th {
        background-color: rgb(179, 236, 255)
    }
</style>
<div class="border vIdDefiniation" style="border:1px solid #e5e5e5;">
    <table id="Machine_distributionfor_distribution" class="table table-striped container-fluid" style="background-color:#ffffff" width="100%">
        <thead>
            <tr class="attendancesum">
                <th>Description</th>
                <th>Device</th>
                <th>Remark</th>
                <th>Edit</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            @if (copyDis != null && copyDis.Count() > 0)
            {
                @foreach (var item in copyDis)
                {
                    <tr class="attendancesum">
                        <td>@item?.descrption</td>
                        <td>@item?.ldescrption</td>
                        <td>@item?.remark</td>
                        <td><a class="btn btn-social-icon btn-xs" onclick="EditMachiddisFunction('@item?.idd')" data-toggle="modal"><i class="fa fa-edit"></i></a></td>
                        <td><a href="#" class="btn btn-social-icon btn-xs" onclick="DeleteIdsettingFunction('@item?.idd')"><i class="fa fa-trash"></i></a></td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    function DeleteIdsettingFunction(CODE) {
        var code = CODE;
        var vcode = $('#@nameof(Model.documentType)').val();
         var discode = $('#@nameof(Model.distrutionType)').val();
        swal({
            title: "are you sure to delete this ?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        dataType: 'json',
                        url: '@Url.Action("deleteDistribution", "Subsystems")',
                        data: { code: code },
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        success: function (data) {
                            swal("", data, "success");
                            $(function () {
                                $.ajax({
                                    url: '/Subsystems/getmachinedistribution',
                                    type: 'POST',
                                    data: { id: discode, vouchercode: vcode }, // send the data object with the request
                                    success: function (result) {
                                        $('#machinedistribution').html(result);
                                    },
                                    error: function () {
                                        console.log('Error occurred.');
                                    }
                                });
                            });

                        }
                    });
                }
            });
    }
</script>
<script>
    function EditMachiddisFunction(CODE) {
        var code = CODE;
        $.ajax({
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("GetDistributionBycode", "Subsystems")',
            data: { code: code },
            success: function (data) {
                $('#@nameof(Model.codeforupdatemachinedistribution)').val(data.code);
                $('#@nameof(Model.descriptionmach)').val(data.desc);
                $('#@nameof(Model.devicemach)').val(data.destin).trigger('change');
                $('#@nameof(Model.remaarkmach)').val(data.remark);

                $('#machinedistributionModal').modal("show");
            },
        });
    }

</script>

