@using CNET_ERP_V7.Models.SubSytsemModel
@using CNET_ERP_V7.Models.FramworkModels
@using CNET_V7_Domain.Domain.ConsigneeSchema;
@using CNET_V7_Domain.Domain.SettingSchema;
@model VoucherSearchModel

@inject CNET_ERP_V7.Common.Company.SharedHelpers sharedHelpers
@{

      
    var fieldformatList = await sharedHelpers.GetSystemConstantByCat("Field Format Type");

    }
    <style>

    .activeidSetting {
        background-color: dodgerblue;
        width: auto;
    }

    .mainsysType {
        height: 76vh;
        white-space: nowrap;
        cursor: pointer;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .idSetting {
        cursor: pointer;
        white-space: nowrap;
    }
   
    </style>

    <div class="box box-primary">
    <input asp-for="filedformatcodeforheaderselection" type="text" id="@nameof(Model.filedformatcodeforheaderselection)" hidden />

        <div style="border:1px solid #e5e5e5;" class="mainsysType">
            <table class="table table-sm" id="VoucherFieldFormat_Table" width="100%">
                <thead>
                    <tr class="treegrid-3 treegrid-parent-1">
                        <th colspan="2" style="border:1px solid #e5e5e5; background-color:lightgray">Description</th>

                    </tr>
                </thead>

                <tbody>
                        @if (fieldformatList != null && fieldformatList.Count() > 0)
                        {

                            @foreach (var item in fieldformatList)
                            {
                                <tr onclick="GetVoucherFielsFormatById('@item?.Id')" class="activeconsinee">
                                    <td>@item?.Description</td>
                                </tr>
                            }
                        }
                </tbody>

            </table>

        </div>

    </div>
 <script>
    function GetVoucherFielsFormatById(id) {
        $('#@nameof(Model.filedformatcodeforheadersave)').val(id);
        var Vcode = $('#@nameof(Model.documentType)').val();
        $('#fieldformatbtn').prop('disabled', false)
        $("#@nameof(Model.filedformatcodeforheaderselection)").val(id);
        $("#@nameof(Model.filedformatType)").val(id);
        $(".activeidSetting").removeClass("activeidSetting");
        $(this).addClass('activeidSetting');
               $.ajax({
                    url: '/Subsystems/getFieldformatResult',
                    type: 'POST',
                   data: { formattype: id, vouchercode: Vcode }, // send the data object with the request
                    success: function (result) {
                        $('#VoucherFieldForatData').html(result);
                    },
                    error: function () {
                        console.log('Error occurred.');
                    }
                });
            
    }
 </script>