<div class="row">
    <div class="col-md-3">
        @await Html.PartialAsync("fieldformatheader")

    </div>

    <div class="col-md-9">
        <div id="VoucherFieldForatData">
            @await Html.PartialAsync("fieldformattableMap")
        </div>
    </div>
    
</div>
