@model VoucherSearchModel
@using CNET_ERP_V7.Models.FramworkModels
@using CNET_ERP_V7.Models.SubSytsemModel;
@using CNET_V7_Domain.Domain.ConsigneeSchema;
@using CNET_V7_Domain.Domain.SettingSchema;
@inject CNET_ERP_V7.Common.Company.SharedHelpers sharedHelpers
@{

    var machinedeviceList = await sharedHelpers.GetdeviceByConnecType(1549);
    var machinedeviceListType = machinedeviceList?.Select(t => new CNET_ERP_V7.Models.SelectorModel.Select2Result { id = t.Id, text = t.MachineName }).ToArray();

}

<div class="modal fade" id="machinedistributionModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5>
                    <img src="~/images/Cnets.jpg" alt="CNET" />
                    <span>Machine Distribution</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </h5>

            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="form-horizontal" id="machimedistributionNewFormData" onsubmit="return machineDistributionNewFormFunction()" asp-controller="Subsystems" asp-action="CreatemachineDistribution" method="post">
                        <div class="col-md-12">
                            <div>
                                <button class="btn btn-app" type="reset" id="IssuedbtnNew"> <i class="fa fa-file-o"></i>New</button>
                                <button type="submit" action="addRow" class="btn btn-app" id="machinedistributionNewsave"> <i style="color:darkblue" class="fa fa-save"></i>Save</button>
                                <button class="btn btn-app" data-dismiss="modal"><i style="color:darkred" class="fa fa-remove"></i>Close</button>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top:25px">
                            <div class="row">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-3 control-label">Description</label>
                                    <div class="col-md-7">
                                        <input asp-for="descriptionmach" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="descriptionmach"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-3 control-label">Device</label>
                                    <div class="col-md-7">
                                        <select asp-for="devicemach" class="form-control select2" style="width:340px;" id="@nameof(Model.devicemach)">
                                            <option></option>
                                        </select>
                                        <span asp-validation-for="devicemach"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-3 control-label">Remark</label>
                                    <div class="col-md-7">
                                        <input asp-for="remaarkmach" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="remaarkmach"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <input hidden asp-for="codefordeletedistribution" />
                        <input hidden asp-for="codeforselectedistributionmach" />
                        <input hidden asp-for="codeforupdatemachinedistribution" />
                        <input hidden asp-for="VoucherSettingCodeforMachine" />

                    </form>
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    var getdistributionmacine = "";
    $(document).ready(function () {
        $(".distributionselection").click(function () {
           
            getdistributionmacine = "1579";


        });
    });

    function machineDistributionNewFormFunction() {
        var vcode = $('#@nameof(Model.documentType)').val();
        var discode = $('#@nameof(Model.distrutionType)').val();
        var $form = $('#machimedistributionNewFormData');
        var data = $form.serialize();
        var action = $('#machimedistributionNewFormData').attr("action");
        $.ajax({
            type: "POST",
            url: action,
            data: data,
            success: function (data) {
              swal("",data,"success");
                $(function () {
                    $.ajax({
                        url: '/Subsystems/getmachinedistribution',
                        type: 'POST',
                        data: { id: code, vouchercode: vcode }, // send the data object with the request
                        success: function (result) {
                            $('#machinedistribution').html(result);
                        },
                        error: function () {
                            console.log('Error occurred.');
                        }
                    });
                });
                 ClearmacinedistributiionModal();

          },
        });
        return false;
    };

</script>
<script>
    $('#@nameof(Model.VoucherSettingCodeforMachine)').val($('#@nameof(Model.documentType)').val());
</script>
<script>
        $('#@nameof(Model.devicemach)').select2({
                    data:@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(machinedeviceListType)),
                    placeholder: "",
                    allowClear: true

                });
</script>
<script>
var getdistribution = "";
    $(document).ready(function () {
        $(".distributionselection").click(function () {
            getdistribution = $(this).data('types');
            console.log(getdistribution+"machine");
            switch (getdistribution) {

                case "1579":
                    $('#@nameof(Model.codeforselectedistributionmach)').val("1579");

                          break;

            }

        });
    });
</script>

<script>

    function ClearmacinedistributiionModal() {

         $('#@nameof(Model.codeforupdatemachinedistribution)').val("");
                $('#@nameof(Model.descriptionmach)').val("");
                $('#@nameof(Model.devicemach)').val("").trigger('change');
                $('#@nameof(Model.remaarkmach)').val("");
    }


</script>