@using CNET_ERP_V7.Models.SubSytsemModel;
@using CNET_V7_Domain;
@using Newtonsoft.Json;
@model moduleModel

@inject CNET_ERP_V7.Common.Company.SharedHelpers sharedHelpers
@{
    var organizationTypes = await sharedHelpers.GetsystemConstantById(Model.subSyType);

    var _submoduleSetting = await sharedHelpers.GetConfigurationByRefandPref("Production Setting", CNETConstants.PRODUCTION_MGT_SYS);

       int oldvalue = 1111111111;
}

<style>
    .custom-select {
        max-height: 28px;
        font-size: 13px;
    }

   
    .sptablecontent {
        border-collapse: collapse;
        background-color: #fff;
        width: 98%;
        margin-left: 15px;
    }

        .sptablecontent .asth {
            font-weight: bold;
        }

        .sptablecontent th, table td {
            padding: 1px;
            border: 1px solid #ccc;
        }

        .sptablecontent, .sptablecontent .sptablecontent td {
            border: 0px solid #ccc;
        }

            .sptablecontent [type=text], select {
                width: 100%;
            }

            .sptablecontent div {
                width: 97%;
            }

    .inputfield {
        pointer-events: none;
        opacity: 30;
        width: 80%;
        height: 16px !important;
        padding: 0px 0px !important;
        font-size: 13px !important;
    }

    .Inputborder:focus {
        border: 1px solid #1670BE;
        box-shadow: 0 0 3px #1670BE;
        outline-offset: 0px;
        outline: none;
    }

    .Inputborder {
        border: 1px solid #eee;
        font-size: 13px !important;
        height: 17px !important;
        line-height: 2px !important;
        text-emphasis-position: initial !important;
        margin-top: 0px !important;
        padding: 0px 0px !important;
    }


    .mainparent {
        color: dodgerblue;
        background-color: #eee;
    }

    .boderclr {
        background-color: dodgerblue;
    }
</style>
<div class="row">
    <div class="col-md-12">

        <div class="box box-primary">

            <div class="box-header with-border">
                <div class="row">
                    <div class="col-md-11">
                        <div class="row">
                            <div class="form-group form-group-sm">
                                <label class="col-md-1 control-labell"> Find</label>
                                <div class="col-md-9">
                                    <select class="form-control select2" asp-for="ProductionSetting" style="width:100%"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            @foreach (var item in _submoduleSetting)
                {
                    switch (item.Attribute)

                    {
                        case "Enforce Closing":
                            Model.produ_EnforceClosing = item.CurrentValue;
                            break;
                        case "Closing Period":
                            Model.produ_ClosingPeriod = item.CurrentValue;
                            break;
                        case "Closing Frequency":
                            Model.produ_ClosingFrequency = item.CurrentValue;
                            break;
                        case "Deduct Production Raw Materials":
                            Model.produ_DeductProductionRawMaterials = item.CurrentValue;
                            break;
                        case "Formation Depth":
                            Model.produ_FormationDepth = item.CurrentValue;
                            break;
                        case "Production Type":
                            Model.produ_ProductionType = item.CurrentValue;
                            break;
                        case "Consider Variation At Packing":
                            Model.produ_Consider_Variation_At_Packing = item.CurrentValue;
                            break;


                    }
                }
                <form id="productPropertyFormData" asp-controller="Module" asp-action="SavingproductProperty" method="post">

                    <table cellpadding="0" cellspacing="0" class="sptablecontent tree_loadproductprop">
                        <tr class="asth">
                            <td></td>
                            <td></td>

                        </tr>

                        <tr class="treegrid-@oldvalue mainparent">
                            <td colspan="2">
                                Closing Setting
                            </td>
                        </tr>

                        <tr class="treegrid-parent-@oldvalue">
                            <td class="attributdata">

                            Closing Frequency
                            </td>
                            <td class="attributcurrvalue">
                                <select asp-for="produ_ClosingFrequency" asp-items="Model.ClosingFrequency" class="form-control custom-select Inputborder">
                                </select>
                            </td>
                        </tr>

                        <tr class="treegrid-parent-@oldvalue">
                            <td class="attributdata">

                            Closing Period
                            </td>
                            <td class="attributcurrvalue" data-toggle="modal" data-id="1" data-target="#closingPeriodModal">
                                <input asp-for="produ_ClosingPeriod" type="text" id="product_closing_period" class="Inputborder" />

                            </td>
                        </tr>

                        <tr class="treegrid-parent-@oldvalue">
                            <td class="attributdata">

                            Enforce Closing
                            </td>
                            <td class="attributcurrvalue">
                                <select asp-for="produ_EnforceClosing" asp-items="Model.ENABLENOTIFICATION" class="form-control custom-select Inputborder">
                                </select>
                            </td>
                        </tr>
                        @*//group one*@
                        @{oldvalue = oldvalue + 1;}

                        <tr class="treegrid-@oldvalue mainparent">
                            <td colspan="2">
                                General Setting
                            </td>
                        </tr>

                        <tr class="treegrid-parent-@oldvalue">

                            <td class="attributdata">

                            Deduct Production Raw Materials
                            </td>
                            <td class="attributcurrvalue">
                                <select asp-for="produ_DeductProductionRawMaterials" asp-items="Model.abcvaluation" class="form-control custom-select Inputborder">
                                </select>
                            </td>
                        </tr>
                        <tr class="treegrid-parent-@oldvalue">
                            <td class="attributdata">

                            Formation Depth
                            </td>
                            <td class="attributcurrvalue">
                                <select asp-for="produ_FormationDepth" asp-items="Model.formationdpth" class="form-control custom-select Inputborder">
                                </select>
                            </td>
                        </tr>
                        <tr class="treegrid-parent-@oldvalue">
                            <td class="attributdata">

                            Production Type
                            </td>
                            <td class="attributcurrvalue">
                                <select asp-for="produ_ProductionType" asp-items="Model.productionType" class="form-control custom-select Inputborder">
                                </select>
                            </td>
                        </tr>
                        <tr class="treegrid-parent-@oldvalue">
                            <td class="attributdata">

                            Consider Variation At Packing
                            </td>
                            <td class="attributcurrvalue">
                                <select asp-for="produ_Consider_Variation_At_Packing" asp-items="Model.ConsiderVariations" class="form-control custom-select Inputborder">
                                </select>
                            </td>
                        </tr>
                    </table>

                </form>
            </div>
        </div>
    </div>
<script>

    function TreeFunctionproductproprty() {
        $(document).ready(function () {
            $('.tree-basic').treegrid();

            $('.tree_loadproductprop').treegrid({
                source: function (id, response) {
                    if (id != 1) response(['']);
                    else response(['']);
                }
            });

        });
    }
    TreeFunctionproductproprty();

</script>
<script>
    var selectedCountry = "";

    var row = ""

    $("select.select2").change(function () {
        selectedCountry = $(this).children("option:selected").text();

        $(".bg-blue").removeClass("bg-blue");
        //var row = $(".addvaluepropertyLisearch:contains(" + selectedCountry + "));
        $("input[name*='" + selectedCountry + "']").addClass("bg-blue");
        /*location.href = '#resp-table'*/
    });
</script>
<script>
    $('.attributdata').click(function () {
        $(".boderclr").removeClass("boderclr");
        /* var value = $(this).children('.inputfield').val();*/
        var value = $(this).text();
        $("input[name*='" + value + "']").addClass("boderclr");
        $(this).closest("tr").addClass('boderclr');
        $('#productionSettingVal').html(value);

    });
    $('.attributcurrvalue').click(function () {
        $(".boderclr").removeClass("boderclr");
        /* var value = $(this).siblings().children('.inputfield').val();*/
        var value = $(this).siblings().text();
        $("input[name*='" + value + "']").addClass("boderclr");
        $(this).siblings().addClass("boderclr");
        $('#productionSettingVal').html(value);

    });
    $("#ProductionSetting").change(function () {
        var value = $(this).select2('data')[0].text;
        $(".boderclr").removeClass("boderclr");
        $("input[name*='" + value + "']").addClass('boderclr');
        $("input[name*='" + value + "']").closest("tr").addClass('boderclr');

        $('#productionSettingVal').html(value);
    });
  
</script>

