<style>
    .menupakage {
        height: 100vh;
        overflow-y: scroll;
    }
</style>
<div class="box box-primary">

    <div class="box-body menupakage">
        <table id="menu_desiner" class="table table-striped tree-load" style="background-color:#ffffff">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Package</th>
                    <th>1st Menu</th>
                    <th>1st #</th>
                    <th>2nd Menu</th>
                    <th>2nd #</th>
                    <th>3rd Menu</th>
                    <th>3rd #</th>
                    <th>4th Menu</th>
                    <th>4th #</th>
                    <th>5th Menu</th>
                    <th>5th #</th>
                    <th>6th Menu</th>
                    <th>6th #</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <span id="media"></span>

    </div>
</div>
