@using CNET_ERP_V7.Models.SubSytsemModel;
@using CNET_V7_Domain.Domain.SettingSchema;
@using CNET_V7_Entities.DataModels;
@using Newtonsoft.Json;
@model GSLmodel;
@inject CNET_ERP_V7.Common.Company.SharedHelpers sharedHelpers

@{
    var fieldformatList = await sharedHelpers.GetSystemConstantByCat("Field Format Type");
}
<style>

    .parentfiekdformat {
        background-color: #eee;
        font-size: 18px;
        height: 90vh;
        overflow-y: scroll;
        cursor: pointer;
    }

    .displaynone {
        display: none;
    }

    .activeidSetting {
        background-color: dodgerblue;
        width: auto;
    }

    .mainsysType {
        height: 76vh;
        white-space: nowrap;
        cursor: pointer;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .idSetting {
        cursor: pointer;
        white-space: nowrap;
    }
</style>

<div class="box-body">
    <div class="box box-primary">

        <div style="border:1px solid #e5e5e5;" class="mainsysType">
            <table class="table table-sm" id="VoucherFieldFormat_Table" width="100%">
                <thead>
                    <tr class="treegrid-3 treegrid-parent-1">
                        <th colspan="2" style="border:1px solid #e5e5e5; background-color:lightgray">Description</th>

                    </tr>
                </thead>

                <tbody>
                    @if (fieldformatList != null && fieldformatList.Count() > 0)
                    {

                        @foreach (var item in fieldformatList)
                        {
                            <tr onclick="GetFieldFormatById('@item.Id')" class="activeconsinee">

                                @if (item.Description == "Document Browser")
                                {
                                    <td>  <i class="fa fa-book"></i>@item?.Description</td>
                                }
                                else if (item.Description == "GSL Maintenance")
                                {
                                    <td>  <i class="fa fa-book"></i>@item?.Description</td>

                                }
                                else if (item.Description == "Report")
                                {
                                    <td><i class="fa fa-building-o"></i>@item?.Description</td>
                                    
                                }
                                else if (item.Description == "Advanced Combo")
                                {
                                    <td>  <i class="fa fa-file-o"></i>@item?.Description</td>
                                }
                                else if (item.Description == "Import")
                                {
                                    <td> <i class="fa fa-certificate"></i>@item?.Description</td>
                                   
                                }
                                else if (item.Description == "GSL Type List")
                                {
                                    <td>  <i class="fa fa-id-card-o"></i>@item?.Description</td>
                                }
                                else if (item.Description == "Mobile Document Browser")
                                {
                                    <td><i class="fa fa-picture-o"></i>@item?.Description</td>
                                }

                            </tr>
                        }
                    }
                </tbody>

            </table>

        </div>

    </div>
</div>


<script>
    $(document).on("click", ".activeconsinee", function () {

        $(".activeidSetting").removeClass("activeidSetting");
        $(this).addClass('activeidSetting');
    });

    function GetFieldFormatById(_idd)
    {
        $('#@nameof(Model.filedformatcodeforheadersaveart)').val(_idd);
        var gslcode = $('#@nameof(Model.gslType)').val();
        $.ajax({
            type: "GET",
            dataType: 'html',
            url: '@Url.Action("getFieldformatResult", "GSL")',
            data: { idd: _idd, gslcode: gslcode },

            success: function (data) {
                $('#gslfieldFormatContent').html(data);

            }
        });
    }
</script>