@using CNET_ERP_V7.Models.SubSytsemModel;
@using CNET_V7_Domain.Domain.SettingSchema;
@using Newtonsoft.Json;
@model GSLmodel
@inject CNET_ERP_V7.Common.Company.SharedHelpers sharedHelpers
@{

    List<ValueFactorDefinitionDTO> factorDefinitions = new List<ValueFactorDefinitionDTO>();
}

    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("ValueDenfheader")

        </div>

        <div class="col-md-9">
            <div id="ValueDefContent">
                @await Html.PartialAsync("ValueDefnTableMap", new GSLmodel() { ValueFactors = factorDefinitions })

            </div>
          
        </div>

    </div>
