<div class="row">
    <div class="col-md-3">
        @await Html.PartialAsync("_roleorganizationunitdefns")

    </div>

    <div class="col-md-9">
        <div id="JobDescriptionData">
            @await Html.PartialAsync("_roledetail")
        </div>
    </div>

</div>